<nav class="navbar">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggler" data-toggle="open-navbar1">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a >
        <h4>Chathumal<span>Jayasingha</span></h4>
      </a>
    </div>

    <div class="navbar-menu" id="open-navbar1">
      <ul class="navbar-nav">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/signup">Signup</a></li>
        <li ><a routerLink="/customer">Customer</a></li>
        <li><a routerLink="/item">Item</a></li>
        <li><a routerLink="/orders">Orders</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
