<div class="container">
  <div class="container-left shadow">
    <form>
      <h1>Sign In</h1>
      <div class="elements">
        <input type="email" placeholder="Email"/>
        <div class="bar">
        </div>
      </div>
      <div class="elements">
        <input type="password" placeholder="Password"/>
        <div class="bar">
        </div>
      </div>
      <div class="elements">
        <input type="submit" class="form-btn"/>
      </div>
    </form>
  </div>
  <div class="container-right shadow">
  </div>
</div>
